@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap");

/* Continue adicionando regras @font-face para as demais fontes */

/* Continue adicionando regras @font-face para as demais fontes conforme o padrão */
@media only screen and (max-width: 10000px) {
  .editZone {
    position: fixed;
    overflow-y: scroll;
    padding: 25px;
    background-color: #fff;
    top: 110px;
    right: -300px;
    display: block;
    opacity: 0;
    box-shadow: 0 0 25px rgba(26, 26, 28, 0.025);
    z-index: 10;
    border-radius: 35px;
    width: 311px;
    scale: 0;
  }

  .editZoneTlm {
    display: none;
  }

  .editZone::-webkit-scrollbar,
  .editZoneCor::-webkit-scrollbar,
  .editZoneText::-webkit-scrollbar,
  .editZoneImg::-webkit-scrollbar {
    display: none;
  }

  .editZoneCor,
  .editZoneText,
  .editZoneImg {
    position: fixed;
    overflow-y: scroll;
    padding: 25px;
    background-color: #fff;
    top: 110px;
    right: 50px;
    transition: all 0.417s ease-in-out;
    display: block;
    opacity: 1;
    box-shadow: 0 0 25px rgba(26, 26, 28, 0.025);
    z-index: 10;
    border-radius: 35px;
    width: 311px;
  }

  .coresDisposal {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 22px;
  }

  .coresDisposalTlm {
    margin-top: 75px;
  }

  .editHeader {
    margin-top: 65px;
  }

  .fileUploadLabeal,
  .fileUploadLabealAdd,
  .fileUploadLabealBack {
    display: inline-block;
    width: 25px; /* ou qualquer tamanho que prefiras */
    height: 25px; /* para torná-lo quadrado */
    border-radius: 100px;
    text-align: center;
    line-height: 50px; /* para centralizar o '+' verticalmente */
    background-color: #ddd;
    cursor: pointer;
    color: #000;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
  }

  .fileUploadLabeal:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.02);
    background-color: rgba(255, 0, 0, 0.3);
  }

  .fileUploadLabealAdd:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.02);
    background-color: #00afefd6;
  }

  .fileUploadLabealBack:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.02);
    background-color: #ffbf0090;
  }

  .menuPicker {
    margin-top: 65px;
  }

  .editImageMain {
    display: block;
  }

  .editImageMainMobile {
    display: none;
  }

  .bottomBar {
    position: fixed;
    display: block;
    margin: auto;
    align-self: center;
    width: 100%;
    /* height: 20vh; */
    background-color: #fff;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .sideBar {
    position: fixed;
    display: block;
    margin: auto;
    align-self: center;
    width: 20%;
    left: 50px;
    top: 150px;
  }

  .sideBar button {
    letter-spacing: -0.8px;
    font-family: "Inter";
    border: 0;
    font-size: 15px;
    padding: 0;
  }

  .headerNomes,
  .footerNomes {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: auto;
    padding-top: 15px;
  }

  .headerNomes {
    width: 250px;
    justify-content: space-between;
  }

  .footerNomes {
    justify-content: center;
    margin-bottom: -55px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  .footerNomesVisible {
    padding-bottom: 15px;
    margin-bottom: 0px;
    opacity: 1; /* Fully visible when hovered */
  }

  .corBtn,
  .settingsBtn {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 0px solid #8c8c8c;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #f2f2f2;
    justify-content: center;
    align-self: center;
  }

  .corBtnIcon {
    padding: 5px;
    border-radius: 100px;
    border: 0px solid #8c8c8c;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #f2f2f2;
    justify-content: center;
    align-self: center;
  }

  .corBtn:hover,
  .settingsBtn:hover {
    width: 47px;
    opacity: 0.8;
  }

  .buttonArrows {
    border: 0;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    color: #000;
  }

  .buttonArrows:hover {
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(155, 155, 155, 0.1);
  }

  .nomeZonas {
    font-size: 17px;
    font-family: "Inter";
    font-weight: 500;
    letter-spacing: -0.6px;
    text-align: center;
    align-self: center;
    color: #000;
  }
  .btnsFooterArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
    gap: 15px;
  }

  .removeColorBtn {
  }

  .bottomWindow {
    margin-top: 25px;
  }

  .bottomWindowText {
    margin-top: 75px;
  }

  .textHeader {
    display: block;
  }

  .saveBtn,
  .fecharBtn {
    border: 0;
    position: fixed;
    margin-top: 345px;
    z-index: 1000;
    padding: 12px 20px 12px 20px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 15px;
    border-radius: 100px;
    letter-spacing: -0.8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px -10px 25px rgba(0, 0, 200, 0.02);
    width: 315px;
  }

  .saveBtn {
    border: 1px solid #f2f2f2;
    background: linear-gradient(to right, #f2f2f2, #f4f4f4);
    color: #000;
  }

  .fecharBtn {
    color: #000;
    border: 1px solid #f2f2f2;
    background-color: transparent;
  }

  .saveBtn:hover,
  .fecharBtn:hover {
    cursor: pointer;
    padding-left: 27px;
    padding-right: 27px;
  }

  .titleZone {
    margin: 40px 50px;
    position: fixed;
    z-index: 10;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
    font-family: "Inter";
  }

  .titleStruct {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .desc {
    /* background-color: #00aeef; */
    color: #00aeef;
    font-family: "Inter";
    font-weight: 500;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #00aeef;
    font-size: 14px;
    letter-spacing: -0.2px;
  }

  .subtitle {
    font-size: 12px;
    color: #333;
    font-family: "Inter";
    letter-spacing: 0.3px;
  }

  .trititle {
    color: #333;
    font-family: "Inter";
    letter-spacing: 0.3px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
  }

  .nameZone {
    background-color: #eee;
    width: 311.2px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
    margin-left: -25px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
  }

  .noText,
  .noImage {
    margin-top: 165px;
    align-self: center;
  }

  .editBtns {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -15px;
  }

  .editBtns button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    border-radius: 15px;
    background-color: #f4f4f4;
    border: 0;
    align-self: center;
    justify-content: center;
    transition: all 0.3s ease ease-in-out;
  }

  .editBtns button:hover {
    cursor: pointer;
    border: 1px solid #bfbfbf;
    width: 50px;
    height: 50px;
  }

  .icon,
  .settingsIcon {
    justify-content: center;
    align-self: center;
  }

  .editBtn  {
    font-family: "Inter";
    background-color: transparent;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 10px #000;
  }

  .label {
    color: #000;
    border: 1px solid #333;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 100px;
    font-family: "Inter";
    font-weight: 500;
    letter-spacing: -0.3px;
    font-size: 12px;
    transition: all 0.3s ease;
    width: 65px;
    text-align: center;
    cursor: pointer;
  }

  .uploadImgHiddenInput {
    position: absolute;
    width: 300px;
    height: 55px;
    opacity: 0;
  }

  .uploadImgHiddenInput:hover {
    cursor: pointer;
  }

  .divAreaEspecifica {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.15);
    padding: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    transition: all 0.2s ease-in-out;
  }

  .divAreaEspecifica:hover {
    margin-left: 7px;
  }

  .divIcon {
    padding: 9px;
    border-radius: 100px;
    background-color: #f9f9f9;
    width: 23px;
    height: 23px;
  }

  .titleText {
    font-size: 12px;
    font-family: "Inter";
    font-weight: 800;
    text-align: left;
    margin-bottom: -10px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  .infoText {
    color: #333;
    font-family: "Inter";
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: left;
  }

  .hintText {
    /* display: flex; */
    align-items: center;
    gap: 10px;
    background-color: #e8e8e9;
    border-radius: 35px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 50px rgba(0, 191, 255, 0.15);
    z-index: 0;
    height: 30px;
    /* width: 190px; */
  }

  .input {
    padding: 5px;
    align-self: center;
    border: 1px solid #e8e8e9;
    text-align: center;
    width: 40px;
    border-radius: 100px;
  }

  .labels,
  .numerosImagem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .labels th,
  .inputs td {
    font-size: 12px;
    color: #8c8c8c;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-bottom: -10px;
    align-self: center;
    text-align: center;
  }

  .inputs {
    width: "100%";
  }
  /* a */

  .cell {
    border: 1px solid #f4f4f4; /* Fine border color */
    padding: 25px;
    font-family: "Inter";
  }

  /* .exportBtn button {
  background: linear-gradient(to right, #00aeef, #00bbff);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
} */

  .priceBtnMain button {
    background-color: #00bfff;
    z-index: 100;
    position: fixed;
    top: 50px;
    right: 50px;
    color: #fff;
    border-radius: 100px;
    padding: 5px;
    font-family: "Inter";
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .exportBtnNot button {
    background-color: #fff;
    border: 0px solid #bfbfbf;
    z-index: 100;
    position: fixed;
    top: 50px;
    right: 50px;
    color: #000;
    border-radius: 100px;
    padding: 5px;
    font-family: "Inter";
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .exportBtn button {
    position: fixed;
    top: 50px;
    right: 50px;
    border-radius: 100px;
    color: #fff;
    padding: 5px;
    font-family: "Inter";
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid transparent;
  }

  .exportBtnNot button:hover {
    padding-left: 25px;
    padding-right: 25px;
    opacity: 0.8;
  }

  .canvasContainer {
    position: fixed;
    /* left: 0;
  right: 0; */
    /* background-color: #00aeef; */
    scale: 1.2;
  }

  .canvasContainerBack {
    position: fixed;
    margin-top: 25px;
    scale: 1.35;
  }

  .canvasContainerMangaL {
    position: fixed;
    margin-top: 155px;
    scale: 1;
  }

  .canvasContainerMangaR {
    position: fixed;
    margin-top: 155px;
    scale: 1;
    transform: rotateZ(-7deg);
  }

  .canvasContainerCapuz {
    position: fixed;
    margin-top: -255px;
    scale: 1;
  }

  .canvas {
    /* box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.05); */
    border-radius: 5px;
    /* border: 3px solid #000; */
    /* background-color: #0f0; */
  }

  .canvasMesh {
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    /* transform: rotateX(-20deg);
  border: 3px solid #000; */
  }

  .label {
    font-family: "Inter";
  }

  /* Add this to your CSS file */

  .loadingContainer {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  .loadingContainer p {
    margin-top: 48vh;
    color: #000;
    font-family: "Inter";
  }

  .inputText {
    border: 0;
    border-bottom: 0.5px solid #ccc;
    width: 102px;
    justify-content: flex-end;
    padding-bottom: 7px;
    padding-top: 10px;
    font-size: 14px;
    color: #333;
    font-family: "Inter";
    letter-spacing: -0.8px;
    resize: none;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in WebKit browsers */
  }

  .inputText:focus {
    font-size: 14px;
    outline: none;
    border: 0;
    border-bottom: 1px dotted #4a90e2; /* Replacing focus indication */
  }

  .alinhamento_Tamanho {
    display: flex;
    justify-content: space-between;
  }

  .inputMain {
    margin-left: 0px;
    margin-right: 0px;
  }

  .alignBtns {
    /* position: absolute;
    bottom: 15px;
    left: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px; */
    display: flex;
    justify-content: flex-start;
    gap: 5px;
  }

  .alignBtn {
    border: 0;
    background-color: #f2f2f2;
    width: 40px;
    height: 38px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }

  .alignBtn:hover {
    cursor: pointer;
    border-radius: 5px;
  }

  .fontFamily {
    display: flex;
    margin-top: 50px;
    gap: 15px;
  }

  .selectFonts {
    width: 190px;
    font-family: "Inter";
    letter-spacing: -0.7px;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    background-color: #f2f2f2;
    border: 0;
    padding-left: 10px;
    padding: 5px;
    border-radius: 100px;
  }

  .inputSize {
    width: 105px;
    font-family: "Inter";
    letter-spacing: -0.7px;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    background-color: #f2f2f2;
    border: 0;
    padding-left: 10px;
    padding: 7px;
    border-radius: 100px;
  }

  .corInput {
    width: 105px;
    font-family: "Inter";
    letter-spacing: -0.7px;
    font-size: 14px;
    margin-left: 5px;
    -webkit-appearance: none; /* Removing default styling in Safari */
    appearance: none;
  }

  .addCorBtn {
    border: 0px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border: 1px solid #f4f4f4;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .addCorBtn:hover {
    width: 45px;
  }

  .zona {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inputAtributos {
    padding: 5px;
    border: 0px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    width: 30px;
    box-shadow: 0px;
    outline: none;
  }

  .modelsZone {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    bottom: 0px;
    top: 0px;
    z-index: 100;
    align-self: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }

  .checkoutZone {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    bottom: 0px;
    top: 0px;
    align-self: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }

  .checkoutCor {
    border-radius: 5px;
  }

  .modelsList {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 25px;
    justify-content: center;
    margin-top: 20.1%;
  }

  .modelosBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .modeloBtn {
    border: 0px;
    background-color: transparent;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1);
  }

  .modelosBtns.moving .modeloBtn {
    filter: blur(
      2px
    ); /* Adiciona o desfoque de movimento quando o contêiner está se movendo */
  }

  .modelosImgs {
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }

  .modelosImgs:hover {
    scale: 1.161;
    cursor: pointer;
  }

  .btnPreviewLink,
  .btnBuildLink {
    border: 0;
    background-color: transparent;
    border-radius: 35px;
    font-family: "Inter";
    letter-spacing: -0.6px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: rgba(191, 191, 191, 1);
    align-self: center;
    margin: auto;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  .btnPreviewLink:hover {
    opacity: 0.8;
    padding-left: 15px;
    padding-right: 15px;
  }

  .btnBuildLink:hover {
    cursor: progress;
  }

  .priceBtn {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    background-color: #00bfff;
    color: #fff;
    font-family: "Inter";
    letter-spacing: -0.8px;
    border: 0;
    align-self: center;
    text-align: center;
    display: block;
    margin: auto;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
  }

  .priceBtn:hover {
    cursor: pointer;
    /* padding-right: 15px; */
    padding-left: 25px;
    padding-right: 25px;
  }

  .tableEncomenda {
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 25px;
    width: 100%;
    align-self: center;
  }

  .tableEncomenda td {
    font-family: "Inter";
    text-align: center;
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }

  .tableEncomenda th {
    padding: 15px;
    width: 0px;
    color: #fff;
    border-bottom: 1px solid #e8e8e9;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: -0.6px;
    font-family: "Inter";
  }

  .deleteButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.161s ease-in-out;
    transform: rotate(0deg);
  }

  .deleteButton:hover {
    transform: rotate(16.1deg);
    opacity: 0.8;
  }

  /* .deleteButtonImage {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  letter-spacing: -0.6px;
  font-size: 15px;
  width: 124px;
  position: absolute;
  margin: auto;
  bottom: 15px;
  left: 0;
  right: 0;
  align-self: center;
  transition: all 0.161s ease-in-out;
  cursor: pointer;
} */

  .deleteButtonImage {
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 25px;
    bottom: 25px;
    transition: all 0.161s ease-in-out;
    cursor: pointer;
  }

  .deleteButtonImage:hover {
    bottom: 20px;
    opacity: 0.5;
  }

  .inputsFormMain {
    position: fixed;
    bottom: 16.1%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .inputsForm {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
  }

  .inputForm {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 100px;
    border: 0;
    color: #fff;
    font-family: "Inter";
    letter-spacing: -0.6px;
    font-size: 14px;
  }

  /* texto copiar link */

  .copiaTextMain {
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    display: flex;
    width: 350px;
    align-items: center;
    margin: auto;
    gap: 7px;
    position: fixed;
    top: 45px;
    box-shadow: 0 0 50px rgba(90, 161, 255, 0.15);
    border: 0;
    margin: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1000;
    transition-timing-function: cubic-bezier(0.3, 0.7, 0.3, 0.5);
  }

  .copiaTextMain:hover {
    width: 400px;
    box-shadow: 0 0 75px rgba(90, 161, 255, 0);
    background-color: transparent;
    opacity: 0.8;
  }

  .copiaText {
    color: #333;
    font-family: "Inter";
    letter-spacing: -0.8px;
    font-size: 14px;
    text-align: center;
  }

  .poweredTextMain {
    position: fixed;
    bottom: 55px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .poweredTextMainHeader {
    position: fixed;
    left: 50px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .poweredText {
    align-self: center;
    justify-content: center;
    color: #bfbfbf;
    font-family: "Inter";
    letter-spacing: -0.6px;
    font-size: 14px;
    text-align: center;
  }

  .poweredLogo {
    width: 75px;
    height: 30px;
  }

  /* sucesso order */
  .successOrderMain {
    display: block;
    margin: auto;
    margin-top: 22%;
  }

  .successOrderText {
    color: #fff;
    font-size: 25px;
    letter-spacing: -1.2px;
    font-family: "Inter";
    font-weight: 800;
    text-align: center;
  }

  .successOrderSubText {
    color: #8c8c8c;
    font-size: 16px;
    letter-spacing: -0.6px;
    font-family: "Inter";
    font-weight: 400;
    text-align: center;
  }

  .finalBtns {
    display: block;
    margin: auto;
  }

  .goToAllkitsBtn {
    color: #00bfff;
    text-align: center;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 16.1%;
    margin: auto;
  }
}

@media only screen and (max-width: 715px) {
  .poweredTextMainHeader {
    position: fixed;
    left: 17px;
    margin-top: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.84;
  }

  .copiaTextMain {
    bottom: 25px;
    top: auto;
  }

  .poweredTextMain {
    bottom: 75px;
  }

  .checkoutZone {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    bottom: 0px;
    top: 0px;
    align-self: center;
    justify-content: center;
    backdrop-filter: blur(25px);
    transition: all 0.3s ease-in-out;
  }
  /* navbar com titulo e botoes e logo */

  .titleZone {
    margin: 20px 30px;
    position: fixed;
    z-index: 10;
  }

  .exportBtnNot button {
    top: 30px;
  }

  /* select model para tlm */

  .modelsList {
    display: block;
    width: 100%;
    border-radius: 25px;
    justify-content: flex-start;
    margin-top: 50%;
  }

  .modelosBtns::-webkit-scrollbar {
    display: none;
  }

  .modelosBtns {
    display: flex;
    align-items: center;
    padding-left: 50vw;
    padding-right: 50vw;
    justify-content: flex-start;
    gap: 5px;
    overflow-x: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .modeloBtn {
    flex: 0 0 auto;
    scroll-snap-align: center; /* Centraliza o botão durante o snap */
  }

  /* janela de edicao */

  .editZone {
    display: none;
  }

  .editZoneTlm {
    position: fixed;
    overflow-y: scroll;
    padding: 20px;
    background-color: #fff;
    bottom: 0;
    display: block;
    opacity: 1;
    box-shadow: 0 0 25px rgba(26, 26, 28, 0.025);
    z-index: 10;
    border-radius: 0px;
    width: 100%;
  }

  .mainBtns {
    display: flex;
    align-items: center;
    gap: 25px;
    align-self: center;
    justify-content: center;
  }

  .mainBtns button {
    border: 0;
    border-radius: 100px;
    background-color: #f2f2f2;
    padding: 7px;
  }

  .nameZone {
    background-color: #eee;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
    margin-left: -25px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
  }

  .fileUploadLabealBack {
    margin-left: 25px;
    margin-right: -25px;
  }

  .fileUploadLabealAdd {
    margin-right: 25px;
    margin-left: -25px;
  }

  .editZoneCor,
  .editZoneImg,
  .editZoneText {
    position: fixed;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 25px;
    background-color: #fff;
    top: auto;
    bottom: 0px;
    right: 0px;
    left: 0px;
    transition: all 0.417s ease-in-out;
    display: block;
    opacity: 1;
    box-shadow: 0 0 25px rgba(26, 26, 28, 0.025);
    z-index: 10;
    border-radius: 35px;
    width: auto;
  }

  .editZoneCor {
    max-height: 120px;
  }

  .editZoneImg {
    max-height: 100%;
    overflow-y: auto;
  }

  .editZoneText {
    max-height: 170px;
    padding-right: 0px;
  }

  .deleteButton {
    margin-right: 15px;
  }

  .coresDisposalTlm {
    display: flex;
    margin-top: 60px;
  }

  .coresDisposal {
    margin-right: 25px;
    margin-bottom: 25px;
    gap: 25px;
    margin-top: 15px;
  }

  /* text editor */

  .noText {
    margin-top: 120px;
  }

  .noImage {
    margin-top: 90px;
  }

  .bottomWindow,
  .bottomWindowText {
    margin-top: 55px;
  }

  .textHeader {
    display: flex;
    overflow-x: auto;
    gap: 135px;
    margin-top: 5px;
    padding-bottom: 10px;
  }

  .fontFamily {
    width: 190px;
    margin-top: 0;
  }

  .inputMain {
    margin-left: -25px;
    margin-right: 25px;
  }

  .inputText {
    border: 0;
    border-bottom: 0.5px solid #ccc;
    width: 50px;
    padding-bottom: 7px;
    padding-top: 10px;
    font-size: 16px;
    color: #333;
    font-family: "Inter";
    letter-spacing: -0.8px;
    resize: none;
  }

  /* image editor */

  .editImageMain {
    display: none;
  }

  .editImageMainMobile {
    display: flex;
    justify-content: center;
  }

  .divAreaEspecifica {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.2s ease-in-out;
  }

  /* menu de preco */
  .inputsFormMain {
    position: fixed;
    bottom: 16.1%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .inputsForm {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow-x: auto;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    padding-left: 50vw;
    padding-right: 50vw;
  }

  .inputsForm::-webkit-scrollbar {
    display: none;
  }

  .inputForm {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 100px;
    border: 0;
    color: #fff;
    font-family: "Inter";
    letter-spacing: -0.6px;
    font-size: 16px;
    flex: 0 0 auto;
    scroll-snap-align: center;
  }

  .priceBtnMain button {
    background-color: #00bfff;
    z-index: 100;
    position: fixed;
    top: 35px;
    right: 25px;
    color: #fff;
    border-radius: 100px;
    padding: 5px;
    font-family: "Inter";
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .fecharBtn {
    width: auto;
    right: 25px;
  }

  /* visualize */
  .copiaTextMain:hover {
    width: 350px;
  }

  .successOrderMain {
    display: block;
    margin: auto;
    margin-top: 35%;
  }

  .successOrderText {
    color: #fff;
    font-size: 20px;
    letter-spacing: -0.8px;
    font-family: "Inter";
    font-weight: 800;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

  .successOrderSubText {
    color: #8c8c8c;
    font-size: 14px;
    letter-spacing: -0.6px;
    font-family: "Inter";
    font-weight: 400;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@font-face {
  font-family: "Antonio Thin";
  src: url("/fonts/Antonio-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  src: url("/fonts/arial.ttf") format("truetype");
}
@font-face {
  font-family: "Arial Bold";
  src: url("/fonts/arialbd.ttf") format("truetype");
}
@font-face {
  font-family: "Arial Black";
  src: url("/fonts/ariblk.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Belinda New";
  src: url("/fonts/Belinda-New-Regular.otf") format("opentype");
}
@font-face {
  font-family: "College Block";
  src: url("/fonts/College Block.otf") format("opentype");
}
@font-face {
  font-family: "Constantia";
  src: url("/fonts/constan.ttf") format("truetype");
}
@font-face {
  font-family: "Constantia Bold";
  src: url("/fonts/constanb.ttf") format("truetype");
}
@font-face {
  font-family: "Courier";
  src: url("/fonts/cour.ttf") format("truetype");
}
@font-face {
  font-family: "Courier Bold";
  src: url("/fonts/courbd.ttf") format("truetype");
}
@font-face {
  font-family: "Filson Pro Bold";
  src: url("/fonts/FilsonProBold-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Filson Pro Book";
  src: url("/fonts/FilsonProBook-Book.otf") format("opentype");
}
@font-face {
  font-family: "Filson Pro Heavy";
  src: url("/fonts/FilsonProHeavy-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "Filson Pro Light";
  src: url("/fonts/FilsonProLight-Light.otf") format("opentype");
}
@font-face {
  font-family: "Filson Pro Medium Italic";
  src: url("/fonts/FilsonProMediumItalic-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Filson Pro Regular";
  src: url("/fonts/FilsonProRegular-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Filson Pro Thin";
  src: url("/fonts/FilsonProThin-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Fineday Style One";
  src: url("/fonts/Fineday-StyleOne.ttf") format("truetype");
}
@font-face {
  font-family: "Fineday Style Two";
  src: url("/fonts/Fineday-StyleTwo.ttf") format("truetype");
}
@font-face {
  font-family: "Futura Bk BT Book";
  src: url("/fonts/Futura Bk BT Book.ttf") format("truetype");
}
@font-face {
  font-family: "Futura Md BT Bold";
  src: url("/fonts/Futura Md BT Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Futura Md BT Medium";
  src: url("/fonts/Futura Md BT Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ghost Clan";
  src: url("/fonts/ghostclan.ttf") format("truetype");
}
@font-face {
  font-family: "Graduate Regular";
  src: url("/fonts/Graduate-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("/fonts/Helvetica-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Light";
  src: url("/fonts/helvetica-light-587ebe5a59211.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "Himalaya";
  src: url("/fonts/himalaya.ttf") format("truetype");
}
@font-face {
  font-family: "Hudson NY Slab";
  src: url("/fonts/Hudson NY Slab.otf") format("opentype");
}
@font-face {
  font-family: "Hudson NY Pro Slab Light";
  src: url("/fonts/HudsonNYProSlab-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Impact";
  src: url("/fonts/impact.ttf") format("truetype");
}

@font-face {
  font-family: "Kettering 105 Bold";
  src: url("/fonts/Kettering 105 W00 Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Kettering 205 Heavy";
  src: url("/fonts/Kettering 205 W00 Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "LEMONMILK Bold";
  src: url("/fonts/LEMONMILK-Bold.otf") format("opentype");
}
@font-face {
  font-family: "LEMONMILK Light";
  src: url("/fonts/LEMONMILK-Light.otf") format("opentype");
}
@font-face {
  font-family: "LEMONMILK Regular";
  src: url("/fonts/LEMONMILK-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Libre Baskerville Bold";
  src: url("/fonts/LibreBaskerville-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Baskerville Regular";
  src: url("/fonts/LibreBaskerville-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Octin Sports Free Regular";
  src: url("/fonts/octin-sports-free.rg-regular.otf") format("opentype");
}
@font-face {
  font-family: "Picturama Alternate";
  src: url("/fonts/PicturamaAlternate.otf") format("opentype");
}
@font-face {
  font-family: "Picturama Founder PERSONAL USE ONLY";
  src: url("/fonts/PicturamaFounder_PERSONAL_USE_ONLY.otf") format("opentype");
}
@font-face {
  font-family: "Princetown Std Regular";
  src: url("/fonts/Princetown Std Regular.otf") format("opentype");
}
@font-face {
  font-family: "Resolve Sans Bold Condensed";
  src: url("/fonts/resolve-sans-w05-bold-cn.otf") format("opentype");
}
@font-face {
  font-family: "Sanchez Italic";
  src: url("/fonts/Sanchez-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Sanchez Regular";
  src: url("/fonts/Sanchez-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand Regular";
  src: url("/fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Super Plants";
  src: url("/fonts/Super Plants.ttf") format("truetype");
}
@font-face {
  font-family: "Super Summer Personal Use";
  src: url("/fonts/Super Summer Personal Use.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Roman";
  src: url("/fonts/times.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Roman Bold";
  src: url("/fonts/timesbd.ttf") format("truetype");
}
@font-face {
  font-family: "Yearbook Solid";
  src: url("/fonts/Yearbook Solid.ttf") format("truetype");
}
