@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap");

@media only screen and (max-width: 10000px) {
  .titleZone {
    margin: 40px 50px;
    position: fixed;
    z-index: 10;
  }

  .titleStruct {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .desc {
    /* background-color: #00aeef; */
    color: #000;

    font-family: "Inter";
    font-weight: 500;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #000;
    font-size: 14px;
    letter-spacing: -0.2px;
  }

  .subtitle {
    font-size: 12px;
    color: #333;
    font-family: "Inter";
    letter-spacing: 0.3px;
  }

  .containerRef {
    max-height: 100vh;
  }

  .poweredTextMainHeader {
    position: fixed;
    left: 50px;
    margin-top: -15px;
    display: flex;
    align-items: center;
    bottom: 35px;
    justify-content: center;
  }

  .poweredText {
    align-self: center;
    justify-content: center;
    color: #bfbfbf;
    font-family: "Inter";
    letter-spacing: -0.6px;
    font-size: 14px;
    text-align: center;
  }

  .poweredLogo {
    margin-left: 5px;
    width: 53px;
    height: 21px;
    opacity: 0.8;
  }
  .titleZone {
    margin: 40px 50px;
    position: fixed;
    z-index: 10;
  }
}

@media only screen and (max-width: 715px) {
  .titleZone {
    margin: 20px 30px;
    position: fixed;
    z-index: 10;
  }

  .poweredTextMainHeader {
    position: fixed;
    left: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.84;
    bottom: 15px;
  }

  .desc {
    /* background-color: #00aeef; */
    color: #000;
    margin-top: 7px;
    font-family: "Inter";
    font-weight: 500;
    border-radius: 100px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    font-size: 12px;
    letter-spacing: -0.2px;
  }

  .titleStruct {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
  }

  .titleZone {
    margin: 30px 25px;
    position: fixed;
    z-index: 10;
  }
}
