@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap");
@media only screen and (max-width: 10000px) {
  .editZone {
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 25px;
    background-color: #fff;
    top: 150px;
    right: -300px;
    display: block;
    opacity: 0;
    box-shadow: 0 0 25px rgba(26, 26, 28, 0.025);
    z-index: 10;
    border-radius: 35px;
    width: 311px;
    scale: 0;
    filter: blur(25px);
  }

  .editZone::-webkit-scrollbar {
    display: none;
  }

  .nameZone {
    background-color: #eee;
    width: 311.2px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
    margin-left: -25px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
  }

  .fileUploadLabeal,
  .fileUploadLabealAdd,
  .fileUploadLabealBack {
    display: inline-block;
    width: 25px; /* ou qualquer tamanho que prefiras */
    height: 25px; /* para torná-lo quadrado */
    border-radius: 100px;
    text-align: center;
    line-height: 50px; /* para centralizar o '+' verticalmente */
    cursor: pointer;
    color: #000;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
  }

  .fileUploadLabeal {
    background-color: #ed282830;
  }

  .fileUploadLabeal:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.02);
    /*background-color: rgba(255, 0, 0, 0.3);*/
    background-color: #ed282850;
  }

  .trititle {
    color: #333;
    font-family: "Inter";
    letter-spacing: 0.3px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
  }

  .subtitle {
    font-size: 12px;
    color: #333;
    font-family: "Inter";
    letter-spacing: 0.3px;
  }

  .editHeader {
    margin-top: 65px;
  }

  .divAreaEspecifica {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.15);
    padding: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    transition: all 0.2s ease-in-out;
  }

  .divAreaEspecifica:hover {
    margin-left: 7px;
  }

  .divIcon {
    padding: 9px;
    border-radius: 100px;
    background-color: #f9f9f9;
    width: 23px;
    height: 23px;
  }

  .titleText {
    font-size: 12px;
    font-family: "Inter";
    font-weight: 800;
    text-align: left;
    margin-bottom: -10px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  .infoText {
    color: #333;
    font-family: "Inter";
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: left;
  }

  .loadingContainer {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  .loadingContainer p {
    margin-top: 48vh;
    color: #000;
    font-family: "Inter";
  }

  .editZoneTlm {
    display: none;
  }

  .priceBtnMain button {
    background-color: #00bfff;
    z-index: 100;
    position: fixed;
    top: 50px;
    right: 50px;
    color: #fff;
    background-color: #00bfff;
    border-radius: 100px;
    padding: 5px;
    font-family: "Inter";
    font-size: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    transition: top 0.15s cubic-bezier(0.1, 0.3, 0, 1),
      transform 0.2s 0.05s cubic-bezier(0.1, 0.5, 0, 1);
    cursor: pointer;
  }

  .priceBtn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    background-color: #00bfff30;
    color: #00bfff;
    font-family: "Inter";
    letter-spacing: 0px;
    border: 0;
    align-self: center;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 7px;
    transition: top 0.15s cubic-bezier(0.1, 0.3, 0, 1),
      transform 0.2s 0.05s cubic-bezier(0.1, 0.5, 0, 1);
    font-size: 15px;
    font-weight: 500;
    top: 50px;
    transform: scale(1);
  }

  .priceBtn:hover {
    cursor: pointer;
    top: 48px;
    transform: scale(1.16);
  }

  .exportBtnNot button {
    background-color: #fff;
    border: 0px solid #bfbfbf;
    z-index: 100;
    position: fixed;
    top: 50px;
    right: 50px;
    color: #000;
    border-radius: 100px;
    padding: 5px;
    font-family: "Inter";
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .exportBtnNot button:hover {
    padding-left: 25px;
    padding-right: 25px;
  }

  .modelsZone {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    bottom: 0px;
    top: 0px;
    z-index: 100;
    align-self: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }

  .modelsList {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 25px;
    justify-content: center;
    margin-top: 20.1%;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
    font-family: "Inter";
  }

  .modelosBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .modeloBtn {
    border: 0px;
    background-color: transparent;
    /*transition: all 0.3 ease-in-out; /*transform 0.3s cubic-bezier(0.6, 0, 0, 0.4) , margin-right 0.3s 0.1s cubic-bezier(0.6, 0, 0, 0.4), margin-left 0.3s 0.1s cubic-bezier(0.6, 0, 0, 0.4);*/
  }

  /*
  .modeloBtn:hover + * {
    cursor: pointer;
    /*transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1), margin-left 0.6s cubic-bezier(0.1, 0.7, 0, 1);
    transition-delay: 60ms;
    transform: scale(0.65) translateY(70px);
    z-index: 0;
    margin-left: -10px;
  }

  .modeloBtn:hover + * + * {
    cursor: pointer;
    /*transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1), margin-left 0.6s cubic-bezier(0.1, 0.7, 0, 1);
    transition-delay: 60ms;
    transform: scale(0.65) translateY(70px);
    z-index: 0;
    /*margin-left: -20px;
  }

  .modeloBtn:hover + * + * + * {
    cursor: pointer;
    /*transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1), margin-left 0.6s cubic-bezier(0.1, 0.7, 0, 1);
    transition-delay: 60ms;
    transform: scale(0.65) translateY(70px);
    z-index: 0;
    /*margin-left: -30px;
  }

  .modeloBtn:hover + * + * + * + * {
    cursor: pointer;
    /*transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1), margin-left 0.6s cubic-bezier(0.1, 0.7, 0, 1);
    transition-delay: 60ms;
    transform: scale(0.65) translateY(70px);
    z-index: 0;
    /*margin-left: -40px;
  }

  .modeloBtn:has(+ * :hover) {
    cursor: pointer;
    /*transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1), margin-right 0.6s cubic-bezier(0.1, 0.7, 0, 1);
    transition-delay: 60ms;
    transform: scale(0.65) translateY(70px);
    z-index: 0;
    margin-right: -10px;
  }

  .modeloBtn:has(+ * + :hover) {
    cursor: pointer;
    /*transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1), margin-right 0.6s cubic-bezier(0.1, 0.7, 0, 1);
    transition-delay: 60ms;
    transform: scale(0.65) translateY(70px);
    z-index: 0;
    /*margin-right: -20px;
  }

  .modeloBtn:has(+ * + * + * :hover) {
    cursor: pointer;
    /*transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1), margin-right 0.6s cubic-bezier(0.1, 0.7, 0, 1);
    transition-delay: 60ms;
    transform: scale(0.65) translateY(70px);
    z-index: 0;
    /*margin-right: -30px;
  }

  .modeloBtn:has(+ * + * + * + * :hover) {
    cursor: pointer;
    /*transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1), margin-right 0.6s cubic-bezier(0.1, 0.7, 0, 1);
    transition-delay: 60ms;
    transform: scale(0.65) translateY(70px);
    z-index: 0;
    /*margin-right: -40px;
  }*/

  .modelosBtns.moving .modeloBtn {
    filter: blur(2px);
  }

  .modelosImgs {
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }

  .modelosImgs:hover {
    scale: 1.161;
    cursor: pointer;
  }

  .checkoutZone {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    bottom: 0px;
    top: 0px;
    align-self: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }

  .btnPreviewLink,
  .btnBuildLink {
    border: 0;
    background-color: transparent;
    border-radius: 35px;
    font-family: "Inter";
    letter-spacing: -0.6px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: rgba(191, 191, 191, 1);
    align-self: center;
    justify-content: center;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .btnPreviewLink:hover {
    opacity: 0.8;
    padding-left: 15px;
    padding-right: 15px;
  }

  .btnBuildLink:hover {
    cursor: progress;
  }

  .inputsForm {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
  }

  .inputForm {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 100px;
    border: 0;
    color: #fff;
    font-family: "Inter";
    letter-spacing: -0.6px;
    font-size: 14px;
  }

  .inputsFormMain {
    position: fixed;
    bottom: 16.1%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .successOrderMain {
    display: block;
    margin: auto;
    margin-top: 22%;
  }

  .successOrderText {
    color: #fff;
    font-size: 20px;
    letter-spacing: -0.8px;
    font-family: "Inter";
    font-weight: 800;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

  .successOrderSubText {
    color: #8c8c8c;
    font-size: 14px;
    letter-spacing: -0.6px;
    font-family: "Inter";
    font-weight: 400;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

  .finalBtns {
    display: block;
    margin: auto;
  }

  .goToAllkitsBtn {
    color: #00bfff;
    text-align: center;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 16.1%;
    margin: auto;
    font-family: "Inter";
  }

  .abrirBtn {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    font-family: "Inter";
    letter-spacing: -0.8px;
    font-size: 14px;
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 715px) {
  .editZone {
    display: none;
  }

  .nameZone {
    background-color: #eee;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
    margin-left: -25px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
  }

  .editZoneTlm {
    position: fixed;
    overflow-y: scroll;
    bottom: 5px;
    padding: 20px;
    background-color: transparent;
    right: 0;
    display: block;
    opacity: 1;
    box-shadow: 0 0 0 transparent;
    z-index: 10;
    border-radius: 0px;
    height: auto;
    width: 60px;
    justify-content: flex-end;
  }

  .mainBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    align-self: center;
    justify-content: flex-end;
    right: 0;
  }

  .colorButton {
    border: 0;
    border-radius: 100px;
    background-color: #f2f2f2;
    border: 1px solid #e8e8e9;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000;
    font-size: 16px;
  }

  .divAreaEspecifica {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.2s ease-in-out;
  }

  .priceBtnMain button {
    background-color: #00bfff;
    z-index: 100;
    position: fixed;
    top: 50px;
    right: 25px;
    color: #fff;
    border-radius: 100px;
    padding: 5px;
    font-family: "Inter";
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .exportBtnNot button {
    top: 30px;
  }

  .modelsList {
    display: block;
    width: 100%;
    border-radius: 25px;
    justify-content: flex-start;
    margin-top: 50%;
  }

  .modelosBtns::-webkit-scrollbar {
    display: none;
  }

  .modelosBtns {
    display: flex;
    align-items: center;
    padding-left: 50vw;
    padding-right: 50vw;
    justify-content: flex-start;
    gap: 5px;
    overflow-x: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .modeloBtn {
    flex: 0 0 auto;
    scroll-snap-align: center;
  }

  .checkoutZone {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    bottom: 0px;
    top: 0px;
    align-self: center;
    justify-content: center;
    backdrop-filter: blur(50px);
    transition: all 0.3s ease-in-out;
  }

  .inputsForm {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow-x: auto;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    padding-left: 50vw;
    padding-right: 50vw;
  }

  .inputsForm::-webkit-scrollbar {
    display: none;
  }

  .inputForm {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 100px;
    border: 0;
    color: #fff;
    font-family: "Inter";
    letter-spacing: -0.6px;
    font-size: 16px;
    flex: 0 0 auto;
    scroll-snap-align: center;
  }

  .inputsFormMain {
    position: fixed;
    bottom: 16.1%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .successOrderMain {
    display: block;
    margin: auto;
    margin-top: 35%;
  }

  .successOrderText {
    color: #fff;
    font-size: 20px;
    letter-spacing: -0.8px;
    font-family: "Inter";
    font-weight: 800;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }

  .successOrderSubText {
    color: #8c8c8c;
    font-size: 14px;
    letter-spacing: -0.6px;
    font-family: "Inter";
    font-weight: 400;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }
}
