@media only screen and (max-width: 10000px) {
  .copiaTextMain {
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    display: flex;
    width: 350px;
    align-items: center;
    margin: auto;
    gap: 7px;
    position: fixed;
    top: 45px;
    box-shadow: 0 0 50px rgba(90, 161, 255, 0.15);
    border: 0;
    margin: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1000;
    transition-timing-function: cubic-bezier(0.3, 0.7, 0.3, 0.5);
  }

  .copiaTextMain:hover {
    width: 400px;
    box-shadow: 0 0 75px rgba(90, 161, 255, 0);
    background-color: transparent;
    opacity: 0.8;
  }

  .copiaText {
    color: #333;
    font-family: "Inter";
    letter-spacing: -0.8px;
    font-size: 14px;
    text-align: center;
  }

  .poweredTextMain {
    position: fixed;
    bottom: 55px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .poweredText {
    align-self: center;
    justify-content: center;
    color: #bfbfbf;
    font-family: "Inter";
    letter-spacing: -0.6px;
    font-size: 14px;
    text-align: center;
  }

  .poweredLogo {
    width: 75px;
    height: 30px;
  }
}

@media only screen and (max-width: 715px) {
  .copiaTextMain:hover {
    width: 350px;
  }

  .copiaTextMain {
    bottom: 25px;
    top: auto;
  }

  .poweredTextMain {
    bottom: 75px;
  }
}
